@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" type="text/css" href="~/css/Group/groupStyle.css" asp-append-version="true" />



<div id="main-page" class="d-flex flex-column px-2 py-5 p-sm-5">
    <div id="header" class="d-flex flex-row justify-content-between p-2">

        <input id="search-input" placeholder="جستجو" type="search"></input>

        <div id="add-delete-buttons" class="d-flex flex-row gap-1">
            <butotn class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "User")'">کاربران </butotn>
            <button onclick="addGroup()" id="add-button" data-bs-toggle="modal" data-bs-target="#add-group-modal" class="btn btn-success">افزودن </button>
            <i id="delete-button" class="btn btn-danger bi bi-trash3"></i>
        </div>

    </div>
    <!-- Add Modal -->
    <div class="modal fade" id="add-group-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-card-text"></i> افزودن گروه</h5>
                </div>
                <div class="modal-body d-flex flex-column gap-4 add-group-modal-body px-4 my-2 justify-content-center">
                    <input class="col-8 p-2" type="type" value="" placeholder="نام گروه" />
                    <p class="modal-error text-danger"></p>
                    <textarea type="type"  value=""  placeholder="توضیحات"></textarea>
                    <p class="modal-error text-danger"></p>
                </div>
                <div class="modal-footer">
                    <button id="add-group-modal-submit-button"  type="button" class="btn btn-success">ثبت</button>

                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">بستن</button>

                </div>
            </div>
        </div>
    </div>



    <!-- Info Modal -->
    <div class="modal fade" id="show-info-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-card-text"></i> اطلاعات</h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row gap-2" id="info-form">
                        <div class="">
                        </div>
                        <div>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Delete Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-triangle text-danger fs-1"></i></h5>
                </div>
                <div class="modal-body">
                    آیا از حذف گروه با ای دی  <strong id="delete-modal-id"></strong> مطمعن هستید؟؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">خیر</button>
                    <button id="delete-modal-submit" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">بله</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Group Delete Modal -->
    <div class="modal fade" id="group-delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-triangle text-danger fs-1"></i></h5>
                </div>
                <div class="modal-body">
                    آیا از حذف کاربران با کد پرسنلی <strong id="group-delete-modal-id"></strong> مطمعن هستید؟؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">خیر</button>
                    <button id="group-delete-modal-submit" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">بله</button>
                </div>
            </div>
        </div>
    </div>



    <img id="spinner" src="~/spinner.svg" alt="spinner" />
    
    <div id="group-table" class="table-container font-IYregular " style="visibility:hidden;">
        <table>
            <thead class="font-IYbold">
                <tr>
                    <th data-dt-order="disable"></th>
                    <th>نام گروه</th>
                    <th>توضیحات</th>
                    <th>تاریخ ایجاد</th>
                    <th id="last-col"></th>
                </tr>
            </thead>
            <tbody class="font-IYnum">
            </tbody>


        </table>
        <div id="page-buttons" class="pt-2 pt-sm-4 d-flex flex-row gap-2">
            <i id="prev" class="bi bi-chevron-right "></i>
            <div id="pages" class="d-flex flex-row gap-1"></div>
            <i id="next" class="bi bi-chevron-left  "></i>
        </div>


    </div>

</div>


<script src="~/js/Group/groupScript.js" asp-append-version="true"></script>

