@{
    ViewData["Title"] = "Home Page";
    //@model IEnumerable<UserManagement.Controllers.User>

}


<div id="main-page" class="d-flex flex-column px-2 py-5 p-sm-5">
        <div id="header" class="d-flex flex-row justify-content-between p-2">
            
            <input id="search-input" type="search"></input>            
            
            <div id="add-delete-buttons" class="  d-flex flex-row gap-1">
                <button id="add-button" class="btn btn-success">افزودن </button>
                <i id="delete-button" class="btn btn-danger bi bi-trash3"></i>
            </div>
 
        </div>
    <!-- Add Modal -->
    <div id="modal" class="">
            <div id="modal-content" class=" align-content-center" >
                <i id="close-modal-button" class="bi bi-x"></i>
                <h3 class="font-IYbold mx-auto text-center">افزودن</h3>
                <form id="add-form" class="d-flex flex-column gap-2 ">
                    <input id="firstName-input" class="modal-input " type="text" placeholder="نام" value="" />
                    <p class="modal-error text-danger fs-6 text-center">error</p>
                    <input id="lastName-input" class="modal-input   " type="text" placeholder="نام خانوادگی" value="" />
                    <p class="modal-error text-danger fs-6 text-center">error</p>
                    <input id="phone-input" class="modal-input  " type="text" placeholder="تلفن" value="" />
                    <p class="modal-error text-danger fs-6 text-center">error</p>
                    <input id="city-input" class="modal-input   " type="text" placeholder="استان" value="" />
                    <p class="modal-error text-danger fs-6 text-center">error</p>
                    <input id="state-input" class="modal-input  " type="text" placeholder="شهر" value="" />
                    <p class="modal-error text-danger fs-6 text-center">error</p>
                    <input id="id-input" class="modal-input " type="text" placeholder="شماره پرسنلی" value="" />
                    <p class="modal-error text-danger fs-6 text-center">error</p>
                    <div id="modal-buttons" class="d-flex flex-row gap-1 modal-input">
                        <button id="modal-submit-button" type="button" class="btn btn-success w-100">ثبت</button>
                        <button onclick="closeModal()" type="button" class="btn btn-danger">لغو</button>

                    </div>
                    
                </form>
            </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-triangle text-danger fs-1"></i></h5>
              </div>
              <div class="modal-body">
                آیا از حدف کاربر با کد پرسنلی <strong id="delete-modal-id"></strong> مطمعن هستید؟؟
              </div>
              <div class="modal-footer">
                <button  type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">خیر</button>
                    <button id="delete-modal-submit" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">بله</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Info Modal -->
        <div class="modal fade" id="show-info-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-card-text"></i> اطلاعات</h5>
              </div>
              <div class="modal-body">
                  <div  class="d-flex flex-row gap-2">
                      <div class="">
                            <p>نام: </p>
                            <p> نام خانوادگی: </p>
                            <p>تلفن: </p>
                            <p>آدرس: </p>
                            <p>کد پرسنلی: </p>
                      </div>
                        <div id="info-form">
                            <p>نام:</p>
                            <p> نام خانوادگی:</p>
                            <p class="font-IYnum">تلفن:</p>
                            <p>آدرس:</p>
                            <p class ="font-IYnum"> کد پرسنلی:</p>
                      </div>
                        
                        
                  </div>
                  
              </div>
              <div class="modal-footer">
                    <button  type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
              </div>
            </div>
          </div>
        </div>


    <img id="spinner" src="~/spinner.svg" alt="spinner" />
        <div id="alert" class="alert alert-success  position-absolute " style="display:none;">
            <button href="#" class=" btn btn-close" data-dismiss="alert" aria-label="close"></button>
            جدول با موفقیت ذخیره شد ! 
        </div>
    <div class="table-container font-IYregular " style="visibility:hidden;">
            <table>
                <thead class="font-IYbold" >
                    <tr>
                        <th data-dt-order="disable"></th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>شماره تلفن</th>
                        <th>استان</th>
                        <th>شهر</th>
                        <th id="last-col" data-dt-order="disable"></th>
                    </tr>
                </thead>
                <tbody class="font-IYnum">
                </tbody>
                

            </table>
        
        
        <div id="page-buttons" class="d-flex flex-row">
            <i id="perv" class="bi bi-chevron-right"></i>
            <div id="pages">1</div>
            <i id="next" class="bi bi-chevron-left"></i>

        </div>
    </div>
    <div id="download-submit-buttons" class=" text-sm-start  text-center mt-4 ">
        <button class="btn btn-success" onclick="saveData()">ثبت نهایی</button>
        <button class="btn btn-outline-success " onclick="downloadCSVfile()">  <i class="bi bi-download"></i></button>
    </div>
</div>