@font-face {
    font-family: IranYekanThin;
    src: url(./Assets/fonts/IRANYekanThin.ttf);
}

@font-face {
    font-family: IranYekanBold;
    src: url(./Assets/fonts/IRANYekanBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: IranYekanRegular;
    src: url(./Assets/fonts//IRANYekanRegular.ttf);
}

@font-face {
    font-family: IranYekanLight;
    src: url(./Assets/fonts/IRANYekanLight.ttf);
}

@font-face {
    font-family: farsiNum;
    src: url(./Assets/fonts/IRANYekanRegularFaNum.ttf);
}

.font-IYnum {
    font-family: farsiNum;
}

.font-IYthin {
    font-family: IranYekanThin;
}

.font-IYbold {
    font-family: IranYekanBold;
}

.font-IYregular {
    font-family: IranYekanRegular;
}

.font-IYlight {
    font-family: IranYekanLight;
}


body {
    font-family: IranYekanRegular;
    padding: 0px;
    margin: 0px;
}

#page-buttons{
    color:#aaa;
    font-size:18px;
}

#pages div {
    font-family: farsiNum;
    padding: 3px;
    cursor: pointer;
}

#prev, #next {

    cursor: pointer;
    padding: 3px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

#prev:hover, #next:hover {
    background: #f2f2f2;
}

#pages div:hover {
    color: black;
    border-bottom: 1px solid #aaa;
}

.active-button {
    color:black;
    border-bottom: 1.5px solid black;
}



.table-container {
    overflow-x: auto;
    padding: 20px 0px;
}

table {
    
    width: 100%;
    border-collapse: collapse;
}



td {
    text-align: center !important;
    padding: 10px;
    border: 1px solid #ddd;
}


th {
    text-align: center !important;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
    padding: 10px;
    border: 1px solid #ddd;
}


#search{
    border:solid 1px gray;
    border-radius:50px;
    font-size:15px;
}
    #search i {

        font-size: 16px;
        color:white;
        border-radius: 50px;
        padding: 8px 20px;
        background: #4e99e9;
    }#search input {
    border:none;
    outline:none;
}
    #search select {
        text-align:center;
        background: #4e99e9;
        border: none;
        border-radius: 50px;
        padding: 8px 10px;
    }

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding: 100px 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);  
}
#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 70px;
    border: 1px solid #888;
    width: 500px;
    position:relative;
}

#close-modal-button {
    position:absolute;
    right:10px;
    top:10px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

#close-modal-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#add-form input {
    font-family: farsiNum;
    margin: 0px auto;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-bottom: solid 1px;
}

#add-form input:focus{

    border-bottom:solid 2px
}

#modal-buttons{
    margin:20px auto;
}

#add-delete-buttons {
    
    
}

#search-input {
    width:240px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-size: 16px;
}

#search-input:focus {
    
    border-bottom: 1.5px solid #212121;
}

.modal-input {
    width: 100%;
}
input {
    font-family: farsiNum;
}
#alert {
    top: 5%;
    right: 40%;
    z-index: 4;
}
#alert button{
    border:none;
    font-size:12px;
    outline:none;
}

div.dt-container .dt-paging .dt-paging-button:hover{
    background: #e7e7e7;
    border:none;
}

#spinner {
    width: 60px;
    position:absolute;
    top:25%;
    right:50%;
    
}


#three-button button:hover{
    width:50%;
}


#three-button button {
    width: 17%;
    min-width:30px;
    transition: width .8s ease;
    border:none;
    padding:2px 3px;
    border-radius:3px;
    
}

#single-delete-button {
    background: #dc3545;
}
#edit-button {
    background: #c3c3c3;
}

#last-col{
    min-width:160px;
    width:18%;
}


#group-select{
    width:50%;
}

.modal-error{
    font-size:12px;
    margin:0px auto;
}


#user-chart {
    height: 370px;
    width: 60%;
}

@media (max-width:1024px) {
    #add-delete-buttons {
        
        
    }
    #search-input {
        width: 180px;
        
        font-size: 13px;
    }

    #add-delete-buttons .btn {
        font-size: 13px;
    }

    table {
        font-size:13px;
    }

    .dt-layout-row {
        font-size: 13px;
    }

    #download-submit-buttons .btn{
        font-size:13px;
    }


    .modal-input {
        width: 100%;
    }
    #modal-content {
        
        width: 400px;
        padding:40px 40px;
        
    }
    
    #alert, .btn-close {
        font-size: 13px;
        top: 2%;
        right: 35%;
        z-index: 10;
    }

    .modal-body{
        font-size:13px;
    }
    .modal-footer button{
        font-size:13px;
    }

    #page-buttons {
        font-size: 16px;
    }
    
}

@media (max-width:481px){

    #add-delete-buttons {
        
    }

    #search-input {
        width: 140px;
        
    }


    table {
        font-size:10px;
    }
    .modal-input {
        width: 100%;
    }

    #modal-content {
        width: 100%;
    }
    #alert ,.btn-close  {
        font-size:10px;
        top: 2%;
        right: 10%;
        
    }

    .modal-body {
        font-size: 10px;
    }

    .modal-footer button {
        font-size: 10px;
    }

    #page-buttons {
        font-size: 14px;
        justify-content:center;
    }

    #user-chart {
        width:100%;
    }
}